
{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="div-transform">
            <div class="card card1" href="">
                <h2> STREAM</h2>
                <p>thois is my design hhihihihihihihihihi</p>
                <h4>element</h4>
                <a href="/signup/"><span>STREAM</span><div class="liqued {% if request.path == "/signup/" %} active{% endif %}"></div></a>
            </div>
        
           
        </div>
    </div>
   
    <div class="loader"></div>

{% endblock content %}